<h2>Send new message</h2>

<%= form_for :messages, url: {action: 'send_message'} do |f| %>

  <%= f.label :mail_to %><br/>
  <%= f.text_field :mail_to %><br/>

  <%= f.label :subject %><br/>
  <%= f.text_field :subject %>
  <br/>
  <%= f.label :mail_txt %><br/>
  <%= f.text_area :mail_txt %>

  <br/>
  <%= f.submit 'Send message' %>
<% end %>
