<h1>Profile for <%= current_user.email %></h1>
<hr>
<%= form_for :profile, url: {action: 'update'} do |f| %>

  <div class="form-group">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name, :class=>'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class=>'form-control' %>
  </div>
  <%= f.submit %>

<% end %>

